html, body, main, #root {
    background-color: #1976D2;
    height: 100%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;
}
.heading {
    color: white;
    font-size: 40px;
}
input {
    font-size: 20px;
}
